.navbar {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.page-container {
    background-color: rgba(32, 38, 40, 0.735);
    min-height: 100vh;
    height: 100%;
    max-width: 1200px;
    margin: auto;
}

body {
    background-image: linear-gradient(rgba(1, 18, 24, 0.762), rgba(5, 3, 19, 0.75)), url(../resources/Manchester.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p {
    max-width: 800px;
    margin: auto;
}

.jumbotron {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0;
    color: rgb(199, 199, 199);
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}

hr {
    border-color: rgb(86, 87, 87);
    width: 60%;
}

.chris-image {
    border-radius: 100%;
    height: 160px;
    margin: 20px;
}

.northCoders-image, .rowanmoor-image, .embark-image {
    width: 200px;
    margin: 20px;
}

.fab {
    margin: 10px 10px;
}

.fab:hover {
    text-decoration: none;
}

.card {
    margin: 0 20px 50px 0;
}

.stack-logo {
    background-color: rgb(199, 199, 199);
    width: 45px;
}
