body {
    background-image: linear-gradient(rgba(77, 66, 82, 0.571), rgba(230, 200, 101, 0.509)), url(../resources/Manchester.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Raleway', sans-serif;
}

.navbar {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

#navbar {
    background-color: rgba(63, 44, 67, 0.81);
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    max-width: 1200px;
    margin: auto;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    z-index: 99999;
}

#navbar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 5px 8px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: rgb(33, 18, 18);

}

a.current {
    font-weight: bold;
}

h4 {
    padding-top: 10px;
}

p {
    max-width: 800px;
    margin: auto;
}

.page-content {
    background-color: rgba(48, 48, 48, 0.44);
    border-radius: 0;
    color: rgb(232, 232, 232);
    padding: 100px 10px;
    text-align: center;
    max-width: 1200px;
    margin: auto;
    height: 100%;
    min-height: 100vh;
}

hr {
    border-color: rgb(233, 233, 233);
    width: 60%;
}

.chris-image {
    border-radius: 100%;
    height: 160px;
    margin: 20px;
}

.northCoders-image,
.rowanmoor-image,
.embark-image {
    width: 200px;
    margin: 20px;
}

.fab {
    margin: 0 10px;
}

.fab:hover {
    text-decoration: none;
}

.card {
    margin: 10px 10px;
}

.stack-logo {
    background-color: rgb(199, 199, 199);
    width: 45px;
}
